/* Custom CSS File for the impress presentation */
/* To add Google Fonts, one option is to use @import(url('')); if you do, it must go before all other declarations except @charset
 * another option is to create a font source block. This will allow you to have a local fallback. It also allows Truetype fallbacks an so on.
 *
 *
 *
 * An example block below
 * @font-face {
 * font-family: 'Satisfy';
 *  font-style: normal;
 *  font-weight: 400;
 *  src: local('Satisfy') url(http://themes.googleusercontent.com/static/fonts/satisfy/v4/tmRzDlQs5wZmOn9mIuLa-QLUuEpTyoUstqEm5AMlJo4.woff) format('woff'),
 *  local('Satisfy') url('Satisfy.woff') format('woff');
 * }
 *
 *
 * */

/* hint and unsupported content */
div.fallback-message {
    display: none;
}


div.hint {
    display: none;
}
/* Tag Markup */
body{
    font-family: "Open Sans", sans-serif;
}
h1 {
    font-family: Dosis, serif;
}
a, h1 {
    color: #1976D2;
    text-decoration: none;
}
strong {
    font-weight: bold;
}
div.step{
    min-width: 900px;
    min-height: 700px;
    font-size: 48px;
}
div.big h1{
    text-align: center;
    font-size: 2em;
}

p.source {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 0.33em;
}

/* Impress-related markup */
.impress-enabled .step.active {
}

/* make the non-active steps transparent */
.step:not(.active) { opacity: 0.33; }

/* Per-slide Markup uses .impress-on-slideID */
.impress-not-supported div.fallback-message{
    display: block;
    height: 100px;
    width: 250px;
    margin-left: -125px;
    margin-top: -50px;
    position: absolute;
    left: 50%;
    top: 50%;

}
.impress-on-title div.hint{
    display: block;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    width: 250px;
    position: absolute;
    left: 50%;
    margin-left: -125px;
}
.impress-on-definition div#definition{
    background-color: #1976D2;
    color: #fff;
}
.impress-on-definition{
    background-color: #1976D2;
}
.impress-on-sevenRules div#sevenRules{
    background-color: #FF9800;
    color: #fff;
}
.impress-on-sevenRules{
    background-color: #FF9800;
}
.impress-on-sevenRules div#sevenRules li{
    background-color: #FF9800;
    color: #fff;
}

.impress-on-sevenRules div#sevenRules h1{
    color: #fff;
}
.impress-on-conclusion div#conclusion{
    background-color: #388E3C;
    color: #fff;
}

.impress-on-OpenImpact div#OpenImpact h1{
    color: #fff;
}
.impress-on-OpenImpact{
    background-color: rebeccapurple;
}
.impress-on-conclusion{
    background-color: #388E3C;
}
.impress-on-conclusion div#conclusion li{
    background-color: #388E3C;
    color: #fff;
}
.impress-on-conclusion div#conclusion h1{
    color: #fff;
}
.impress-on-definition div#definition div{
    width: 100%;
    position: absolute;
    top: 25%;
}
.impress-on-definition div#definition h1{
    color: #fff;
}
.impress-on-Reproducibility {
    background: url('../img/Replication.jpg') center center no-repeat;
    background-size: cover;
}
/* fix to remove a stray footnote */
.impress-on-MiningSocial div#TypesOfEvidence p{
    display: none;
}
.impress-on-WebExperiments{
    background: url('../img/turk.jpg') center center no-repeat;
    background-size: contain;
}
.impress-on-WebExperiments div#WebExperiments {
    background: none;
}
.impress-on-WebExperiments div#WebExperiments img{
    display: none;
}

.impress-on-closing{
    background: url('../img/camera.jpg') center center no-repeat;
    background-size: cover;
}
.impress-on-closing div#closing img{
    display: none;
}
.impress-on-TypesOfEvidence div.contained {
    opacity: 1;
}
.impress-on-SocialScienceAtScale{
    background: url('../img/controlroom.jpg') center center no-repeat;
    background-size: cover;
}

.impress-on-SocialScienceAtScale div#SocialScienceAtScale{
    background-color: rgba(255,255,255, 0.66);
}

.impress-on-SocialScienceAtScale div.contained{
    opacity: 1;
}
.impress-on-overview {
    background: url('../img/thankyou.jpg') center center no-repeat;
    background-size: cover;
}
.impress-on-overview div.step{
    background-color: #fff;
    opacity: 0.85;
}
.impress-on-overview div.step:hover{
    opacity: 1;
    border: 5px solid #1976D2;
}
/* specific divs */
div#title h1{
    text-align: center;
    margin: 10px;
    font-size: 2em;
    margin-bottom: 40px;
}
div#title p.license{
   font-size: 0.2em; 
}
div#title img{
    width: 100px;
}
div#title img#scienceeurope {
}
div#title div#foot{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}
div#title p.name{
    text-align:center;
    font-size: 1.5em;

}
div#title p.contact{
    text-align: center;
    font-family: monospace;
    font-size: 0.5em;
}


div#definition{
    color: #00aced;
}
div#definition ol{
    width: 100%;
}
div#definition li{
    font-size: 0.66em;
    display: inline-block;
    padding: 1%;
}
div#MiningSocial div.fig img {
    border-bottom: 1px solid #333;
    margin-bottom: 5px;
    width:100%;
}
div#MiningSocial .fig {
    width:48%;
    margin: 2px;
    padding: 2px;
    float: left;
    border: 1px solid #333;
}
div#RiskOfSharing i{
    text-align: center;
    color: #00aced;
}
div#RiskOfSharing ol{
    list-style: decimal outside none;
    margin-left: 25%;
}
div#GovernmentData h1{
    background-color: #fff;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}
div#GovernmentData blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
div#GovernmentData div{
    height: 350px;
}
div#GovernmentData div#enron img{
    width: 50px;
    position: absolute;
    right: 0;
    top: 15%;
}
div#Reproducibility p.quote{
    position: absolute;
    text-align: center;
    bottom: 25%;
    width: 100%;
    background-color: rgba(64,64,64,0.75);
    color: rgba(255,255,225,1);
}
div#GovernmentData div#talkEurope img{
    margin-left: 10%;;
    height: 300px;
}
div#GovernmentData blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
div#GovernmentData blockquote p {
    font-family: monospace;
    display: inline;
}
div#WebExperiments img{
    width:100%;
}
div#OpenImpact h1{
    text-align: center;
    font-size: 2em;
}
div#OpenImpact div#europarl{
    width: 100%;
    background-color: #fff;
}
div#OpenImpact img{
    position: absolute;
    top: 30%;
    width: 100%;
}
div#SmartCities img{
    width: 100%;
}
div#WebScience img{
    width:100%;
}
div#sevenRules ol, div#conclusion ol{
    margin-left: 15%;
    margin-top: 5%;
    list-style: decimal outside none;
}
div#sevenRules li, div#conclusion li{
    padding 2px;
    font-size: 0.66em;
    width: 80%;
    margin: 2%;
    background-color: #eee;
}
div#closing img{
    -webkit-filter: grayscale(100%);
    width: 100%;
}
div#overview {
    display: none;
}


/* graph-related */
